@tailwind base;
@tailwind components;
@tailwind utilities;

.category {
  @apply px-8 py-3 bg-primary text-white rounded-full
}

:checked.fill-label + label {
  background-color: #17150F;
  color: white;
}

:focus.move-label + label {
  padding: 0;
  top: 0;
}

:checked.fill-heart + label svg { 
  color: #e53e3e;
  fill: currentColor;
}

.handle-rounded[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.handle-rounded[open] ul {
  border-top-left-radius: 0;
  border-top-left-radius: 0;
}

.clickAnimation:active {
  animation: pop  0.3s linear 1;
}

@keyframes pop {
  50%  {transform: scale(1.1);}
}